body {
    background-color: #FFFFFF;
    font-family: "Wingdings";
}

span {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#ordered-list {
  list-style-type: armenian;
}

.dog-pic {
    width: 200px;
    opacity: 1;
}

.dog-pic:hover {
  opacity: .5;
}

.cat-pic {
    margin-left: -100px;
    width: 100px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: blue;
  }

  #main {
    background-color: orange;
  }

  .dog-pic {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 600px) {
    body {
      background-color: pink;
    }
  }